<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wangxingyu.mapper.AnswerMapper">
    <resultMap id="AnswerResultMap" type="top.wangxingyu.model.Answer">
        <id property="id" column="id" />
        <result property="content" column="content" />
        <result property="questionId" column="questionId" />
        <result property="userId" column="userId" />
        <result property="username" column="username" />
        <result property="createdTime" column="createdTime" />
    </resultMap>

    <select id="findAnswersByQuestionId" parameterType="int" resultMap="AnswerResultMap">
        SELECT a.*, u.username FROM answers a
        JOIN users u ON a.userId = u.id
        WHERE a.questionId = #{questionId}
    </select>

    <insert id="insertAnswer" parameterType="top.wangxingyu.model.Answer">
        INSERT INTO answers (content, questionId, userId, createdTime)
        VALUES (#{content}, #{questionId}, #{userId}, NOW())
    </insert>
</mapper>
