<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.wangxingyu.mapper.QuestionMapper">
    <resultMap id="QuestionResultMap" type="top.wangxingyu.model.Question">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="userId" column="userId" />
        <result property="createTime" column="createTime" />
    </resultMap>

    <select id="findAllQuestions" resultMap="QuestionResultMap">
        SELECT * FROM questions
    </select>

    <select id="findQuestionById" parameterType="int" resultMap="QuestionResultMap">
        SELECT * FROM questions WHERE id = #{id}
    </select>

    <insert id="insertQuestion" parameterType="top.wangxingyu.model.Question">
        INSERT INTO questions (title, content, userId, createTime)
        VALUES (#{title}, #{content}, #{userId}, #{createTime})
    </insert>
</mapper>
